{
  "app": {
    "guid": "357a47f5-ad34-470e-93b2-6fa8e1ffe94a"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": true,
    "metadataSecurity": null,
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "MDExN2MyNmEtZmU0OC00NjIzLThmYjAtNGZiOGYxZTUzY2Vk",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Nenhuma",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "appid": "io.cronapp.apps.pandorasoteropolitana",
      "backend": "false",
      "social": "false",
      "theme": "Material",
      "authentication": "Nenhuma",
      "mutual": "false",
      "frontend": "true"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0,
  "flushMode": "AUTO"
}