<div id="starter" ng-init="cronapi.client('js.blockly.Restaurantes.linkRestaurantes2').run()" ng-destroy="" data-component="crn-start" screen-params=""> 
  <style title="local">
#crn-image-309223 { 
  border-left: 79px solid rgb(255, 255, 255);
  border-bottom: 47px solid rgb(255, 255, 255);
}
</style> 
  <ion-view class="pane"> 
    <ion-header-bar align-title="center" class="bar bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar"> 
      <div class="buttons buttons-left header-item"> 
        <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
      </div> 
      <h1 class="title">PANDORA SOTERAPOLITANA</h1> 
      <div class="buttons buttons-right header-item"> 
        <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
      </div> 
    </ion-header-bar> 
    <ion-content data-component="crn-ion-content" class="scroll-content has-header"> 
      <div style="height: 29px; width: 431px;" data-component="crn-spacer" class="component-holder col-xs-1" id="crn-spacer-619089">
         &nbsp; 
      </div> 
      <h1 data-component="crn-heading" class="component-holder col-xs-12 text-center" id="crn-heading-1008938" xattr-position="text-center">Restaurantes</h1> 
      <div data-replace="false" data-component="crn-container" class="component-holder col-xs-12" id="crn-container-525015">
        <img src="img/food.png" class="" style="width: 65px; height: 65px; position: absolute; top: 0px; left: 290px !important; max-width: 65px; max-height: 65px;" xattr-position="" data-component="crn-image" id="crn-image-83881">
      </div> 
      <h2 data-component="crn-heading" class="component-holder col-xs-12" id="titleLocal">Nome_Local</h2> 
      <p xattr-position="text-left" class="component-holder col-xs-12 text-left" data-component="crn-paragraph" id="crn-paragraph-233979"><b>Restaurante Almoço bom</b> - Rua da Felicidade, 685</p> 
      <div style="height: 30px;" data-component="crn-spacer" class="component-holder col-xs-12" id="crn-spacer-540186">
         &nbsp; 
      </div>
      <img src="img/restaurantes_pelourinho.JPG" class="component-holder col-xs-1" style="width: 432px; height: 260px;" xattr-position="" data-component="crn-image" id="img_restaurante"> 
      <div style="height: 30px;" data-component="crn-spacer" class="component-holder col-xs-12" id="crn-spacer-455352">
         &nbsp; 
      </div> 
      <img src="img/Voltar legenda.png" class="component-holder col-xs-1 center-block" style="width: 100px;" xattr-position="center-block" data-component="crn-image" id="crn-image-49201" ng-click="cronapi.client('js.blockly.Localizacao.voltar').run()"> 
    </ion-content> 
  </ion-view> 
</div>