<div id="starter" ng-init="cronapi.client('js.blockly.Localizacao.linkLocalizacao').run()" ng-destroy="" data-component="crn-start" screen-params=""> 
  <style title="local">
#crn-image-309223 { 
  border-left: 79px solid rgb(255, 255, 255);
  border-bottom: 47px solid rgb(255, 255, 255);
}
</style> 
  <ion-view class="pane"> 
    <ion-header-bar align-title="center" class="bar bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar"> 
      <div class="buttons buttons-left header-item"> 
        <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
      </div> 
      <h1 class="title">PANDORA SOTERAPOLITANA</h1> 
      <div class="buttons buttons-right header-item"> 
        <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
      </div> 
    </ion-header-bar> 
    <ion-content data-component="crn-ion-content" class="scroll-content has-header"> 
      <div style="height: 29px; width: 431px;" data-component="crn-spacer" class="component-holder col-xs-1" id="crn-spacer-619089">
         &nbsp; 
      </div> 
      <h1 data-component="crn-heading" class="component-holder col-xs-12 text-center" id="crn-heading-1008938" xattr-position="text-center">Restaurantes</h1> 
      <div data-replace="false" data-component="crn-container" class="component-holder col-xs-12" id="crn-container-525015"><img src="img/food.png" class="" style="width: 65px; height: 65px; position: absolute; top: 0px; left: 225px; max-width: 65px; max-height: 65px;" xattr-position="" data-component="crn-image" id="crn-image-83881"></div> 
      <h2 data-component="crn-heading" class="component-holder col-xs-12" id="titleLocal">Nome_Local</h2> 
      <p xattr-position="text-left" class="component-holder col-xs-12 text-left" data-component="crn-paragraph" id="crn-paragraph-233979"><b>Restaurante Almoço bom</b> - Rua da Felicidade, 685</p> 
      <div style="height: 30px;" data-component="crn-spacer" class="component-holder col-xs-12" id="crn-spacer-540186">
        &nbsp;
      </div>
      <div style="position: relative; overflow: hidden; padding-bottom: 56.25%; height: 300px; width: 100%;" data-component="crn-video" class="component-holder col-xs-12" id="map"> 
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2262.020429317576!2d-38.51052636174569!3d-13.000488546203997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x716049fbb02e667%3A0x8f20f7c335e687c3!2sInstituto%20de%20Matem%C3%A1tica%20(UFBA)%20-%20Campus%20Ondina!5e0!3m2!1spt-BR!2sbr!4v1568497810683!5m2!1spt-BR!2sbr" allowfullscreen="" style="position:absolute;top:0;left:0;width:100%;height:100%" id="iframemap"></iframe> 
      </div> 
      <div style="height: 30px;" data-component="crn-spacer" class="component-holder col-xs-12" id="crn-spacer-455352">
         &nbsp; 
      </div> 
      <img src="img/Voltar legenda.png" class="component-holder col-xs-1 center-block" style="width: 100px;" xattr-position="center-block" data-component="crn-image" id="crn-image-49201" ng-click="cronapi.client('js.blockly.Localizacao.voltar').run()"> 
    </ion-content> 
  </ion-view> 
</div>