<ion-view class="pane"> 
  <ion-header-bar align-title="center" class="bar bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar"> 
    <div class="buttons buttons-left header-item"> 
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
    </div> 
    <h1 class="title">ssss</h1> 
    <div class="buttons buttons-right header-item"> 
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
    </div> 
  </ion-header-bar> 
  <ion-content data-component="crn-ion-content" class="scroll-content style1139 has-header"> 
    <div data-replace="false" data-component="crn-container" class="component-holder" id="crn-container-447171"> 
      <h1 data-component="crn-heading" class="component-holder text-center col-xs-12 col-md-12 col-sm-12" id="crn-heading-65922" xattr-position="text-center">Title</h1> 
      <div data-replace="false" data-component="crn-container" class="col-xs-2 borda col-md-2 text-center col-sm-2" id="crn-container-91761"> 
        <div style="height: 10%;" data-component="crn-spacer" class="text-center component-holder col-sm-12 col-xs-12" id="crn-spacer-651178">
          &nbsp;
        </div><img src="img/acessibilidade.png" style="width: 100px;" class="col-sm-12 text-center center-block col-xs-12" xattr-position="center-block" data-component="crn-image" id="crn-image-113464">
        <div style="height: 10%;" data-component="crn-spacer" class="text-center component-holder col-sm-12 col-xs-12" id="crn-spacer-86511">
          &nbsp;
        </div>
        <img src="img/nophoto.png" class="component-holder text-center  col-sm-12 col-xs-12" style="" xattr-position="" data-component="crn-image" id="crn-image-79251">
        <div style="height: 10%;" data-component="crn-spacer" class="component-holder col-sm-12 col-xs-12" id="crn-spacer-67471">
          &nbsp;
        </div>
        <img src="img/nophoto.png" class="component-holder col-sm-12 col-xs-12" style="" xattr-position="" data-component="crn-image" id="crn-image-86201"> 
      </div>
      <div data-replace="false" data-component="crn-container" class="borda col-xs-8 col-md-8  col-sm-8" id="crn-container-62231"> 
        <img src="img/nophoto.png" class="component-holder col-xs-12 col-md-12" style="" xattr-position="" data-component="crn-image" id="crn-image-676126"><button class="button button-block button-positive component-holder col-xs-12 col-md-12" type="submit" xattr-fullsize="button-block" xattr-theme="button-positive" ng-click="" data-component="crn-button" id="crn-button-151994"><i class="ion ion-home"></i> <span>Button </span></button><label class="item item-input component-holder col-xs-12 col-md-12" data-component="crn-input" id="crn-input-321395"><input id="crn-input1460" type="text" placeholder="Placeholder text" ng-model="vars.input1460" mask="" keyboard=""></label> 
      </div>
      <div data-replace="false" data-component="crn-container" class="col-xs-2 borda text-center" id="crn-container-59341"> 
        <div style="height: 10%;" data-component="crn-spacer" class="component-holder col-sm-12" id="crn-spacer-15031">
          &nbsp;
        </div><img src="img/back.JPG" class="col-sm-12" xattr-position="left-block text-center " data-component="crn-image" id="crn-image-5431">
        <div style="height: 10%;" data-component="crn-spacer" class="component-holder col-sm-12" id="crn-spacer-38241">
          &nbsp;
        </div>
        <img src="img/nophoto.png" class="component-holder col-sm-12 text-center" style="" xattr-position="" data-component="crn-image" id="crn-image-5431">
        <div style="height: 10%;" data-component="crn-spacer" class="component-holder col-sm-12" id="crn-spacer-90951">
          &nbsp;
        </div>
        <img src="img/nophoto.png" class="component-holder col-sm-12" style="" xattr-position="" data-component="crn-image" id="crn-image-5431"> 
      </div> 
    </div> 
  </ion-content> 
</ion-view>