<div id="starter" ng-init="cronapi.client('js.blockly.Local.locais').run()" ng-destroy="" data-component="crn-start" screen-params=""> 
  <style title="local">
#iconFood { 
  margin-right: -1px;
  padding-top: 2px;
  padding-left: 2px;
}

#crn-image-22961 { 
  padding-top: 6px;
  padding-right: 6px;
}
</style> 
  <ion-view class="pane"> 
    <ion-header-bar align-title="center" class="bar bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar"> 
      <div class="buttons buttons-left header-item"> 
        <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
      </div> 
      <h1 class="title">PANDORA SOTEROPOLITANA</h1> 
      <div class="buttons buttons-right header-item"> 
        <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
      </div> 
    </ion-header-bar> 
    <ion-content data-component="crn-ion-content" class="scroll-content has-header" style=""> 
      <div data-replace="false" data-component="crn-container" class="component-holder" id="crn-container-447171"> 
        <h1 data-component="crn-heading" class="component-holder text-center col-xs-12 col-md-12" id="titulo" xattr-position="text-center" style="left: 0px; position: relative; top: 62%; bottom: 0px; margin-top: 30px;">Pelourinho</h1> 
        <div data-replace="false" data-component="crn-container" class="col-md-2 text-center borda col-xs-1" id="crn-container-91761" style="width: 18%;height: 235px;padding-right: 0px;left: 5px;"> 
          <a id="a_trans" href="#/app/public/transporte?qs=1"><img src="img/transporte legenda.png" class="" style="max-width: 65px; max-height: 65px; width: 65px; height: 65px; position: absolute; top: 0px; left: 7px; right: 0px; bottom: 0px; padding-right: 3px; padding-top: 3px;" xattr-position="" data-component="crn-image" id="crn-image-22961" href="#/app/public/transporte"></a> 
          <img src="img/acessibilidade.png" class="" style="max-width: 65px; max-height: 65px; width: auto; height: auto; position: absolute; top: 157px; left: 7px; right: 0px; bottom: 0px; padding-right: 11px;" xattr-position="" data-component="crn-image" id="crn-image-80191" ng-click="cronapi.client('js.blockly.Notificacao.Construcao').run()"> 
          <a id="a_res" href="#/app/public/restaurantes?qs=1"><img src="img/food legenda.png" class="col-xs-12" style="max-width: 65px; max-height: 65px; width: auto; height: 65px; position: absolute; top: 77px; left: 7px; right: 0px; bottom: 0px; padding-right: 4px;" xattr-position="" data-component="crn-image" id="iconFood" href="#/app/public/restaurantes"></a> 
        </div> 
        <div data-replace="false" data-component="crn-container" class="borda" id="crn-container-62231" style=""> 
          <img src="img/pelo1.jpg" class="text-center col-xs-1" style="position: relative; width: 58%; padding-top: 24px; padding-right: 0px; height: 7%; right: 0px; left: 2%; top: 3%; max-width: 58%;" xattr-position="center-block" data-component="crn-image" id="imgCentral"> 
        </div> 
        <div data-replace="false" data-component="crn-container" class="col-md-2 text-center borda col-xs-1" id="crn-container-91761" style="width: 17%; height: 235px; padding-right: 0px; left: 20px; border: 0px solid rgb(255, 255, 255);"> 
          <a id="a_loc" href="#/app/public/localizacao?qs=1"><img src="img/localizacao legenda.png" class="" style="max-width: 65px; max-height: 65px; width: auto; height: auto; position: absolute; top: 0px; left: 3px; right: 0px; bottom: 0px; padding-right: 8px;" xattr-position="" data-component="crn-image" id="iconLoc" href="#/app/public/localizacao"></a> 
          <img src="img/lazer legenda.png" class="center-block" style="max-width: 65px; max-height: 65px; width: auto; height: auto; position: absolute; top: 78px; left: 3px; right: 0px; bottom: 0px; padding-right: 11px;" xattr-position="center-block" data-component="crn-image" id="crn-image-69651" ng-click="cronapi.client('js.blockly.Notificacao.Construcao').run()"> 
          <img src="img/cash legenda.png" class="" style="max-width: 65px; max-height: 65px; width: auto; height: auto; position: absolute; top: 159px; left: 3px; right: 0px; bottom: 0px; padding-right: 12px;" xattr-position="" data-component="crn-image" id="crn-image-95071" ng-click="cronapi.client('js.blockly.Notificacao.Construcao').run()"> 
        </div> 
        <a id="a_fav" href="#/app/public/localizacao?qs=1"><img src="img/favoritar novo legenda.png" style="width: 100px;left: 125px !important;top: -40px !important;position: relative;margin-top: -30px;" class="col-sm-12 text-center center-block col-xs-12" xattr-position="center-block" data-component="crn-image" id="crn-image-37031" href="#/app/public/favoritar"></a> 
        <p xattr-position="text-center" class="text-center component-holder col-md-12 col-xs-1" data-component="crn-paragraph" id="resumo" style="width: 100%;height: 157px;">O Elevador Lacerda é o primeiro elevador urbano do mundo. Em 8 de dezembro de 1873, quando foi inaugurado, era o mais alto do mundo, com 63 metros. Localizado na cidade de Salvador, Bahia, cumpre a função de transporte público entre a Praça Cairu, na Cidade Baixa, e a Praça Tomé de Sousa, na Cidade Alta. É um dos principais pontos turísticos e cartão postal da cidade. Do alto de suas torres, descortina-se a vista para a Baía de Todos-os-Santos, o Mercado Modelo e, ao fundo, o Forte de São Marcelo.</p> 
        <img src="img/Voltar legenda.png" class="component-holder col-xs-1" style="top: 38px; left: -1px; max-width: 100px; max-height: 50px; width: 100px; height: 50px;" xattr-position="" data-component="crn-image" id="crn-image-911" ng-click="cronapi.screen.changeView('#/app/public/home', [])"> 
      </div> 
    </ion-content> 
  </ion-view> 
</div>